[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tradingagents = {file = ".", editable = true}
playwright = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.13"
